# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform variable files
terraform.tfvars
*.auto.tfvars

# Python
__pycache__/
*.pyc
.venv/

# OS / editor
.DS_Store
Thumbs.db

# Environment files
.env
.env.*